/* body {
  display: flex;
  justify-content: center;
  height: 70px;
  background-image: url("images/julian-steenbergen-TdNdJxtSNYk-unsplash\ copy.jpg");
  background-size: 100%;
  margin: 15px;
} */

.title_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 50px;
  color: white;
}
.sunset_image {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 50px;
  z-index: -1;
}

.prayer__time {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 40%;
  left: 50%;
  margin: 15px;
  transform: translate(-50%, -50%);
  font-size: large;
  font-weight: 300;
  color: white;
  margin-top: 350px;
  padding: 125px;
  z-index: 1;
}
/* position fixed keeps things in place */
.next__salah {
  flex-direction: column;
  position: fixed;
  left: 48%;
  top: 51%;
  color: white;
  margin-right: 15px;
  z-index: 1;
}
a {
  color: white;
}
.fajr__time {
  padding: 125px;
  margin: 25px;
}

.Dhur__time {
  padding: 125px;
  margin: 25px;
}

.Asr__time {
  padding: 125px;
  margin: 25px;
}

.Magrib__time {
  padding: 125px;
  margin: 25px;
}

.Isha__time {
  padding: 125px;
  margin: 25px;
}

/* will use this in media query for phone
.main__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: large;
  font-weight: 300;
}   */
/* 
@media (min-width: 320px) and (max-width: 480px) {
  .main__content {
    position: fixed;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: large;
    font-weight: 300;
  }
} */
